@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Satisfy&display=swap');
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.superinfo-bg {
    background: #268AFF;
    color: white;

}

.superinfo {
    max-width: 1078px;
    margin: 0 auto;
    display: flex;
    padding: 8px;
    justify-content: center;
}

.superinfo a {
    color: white;
    display: block;

}
.superinfo p {
    margin-right: 180px;
}


/*     HEADER     */


header {
    background: #0D1F33;
    color: white;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}
section {
    padding-top: 45px;
    padding-bottom: 90px;
}

.logo {
    font-family: 'Satisfy', cursive;
    font-size:2.25em ;
    display: block;
    padding: 8px 0;
}

header ul {
    display: flex;
    flex-wrap:nowrap;
}

header ul li {
    display: block;
    margin-left: 30px;
}
header ul li a {
    font-weight: bold;
    display: block;
    padding: 24px 0;
}

header ul li a:hover {
    color: #E35C0B;
    border-bottom: 3px solid #E35C0b;
}


/*     MAIN     */

.intro {
    background: linear-gradient(90.12deg, #003BB2 42.75%, #0069E4 69.21%);
}

.container-intro {
    padding: 30px 10px 60px 10px;
    position: relative;
}

.intro p {
    max-width: 300px;
    text-align: right;
    color: white;
    font-size:1.5em;
    margin-bottom: 140px;
    position: relative;
    right: -70px;
    font-style: italic;

}
.intro span {
    font-size: 14px;
    line-height: 400%;
    font-style: italic;
}


.intro h1 {
    font-family:'Merriweather', serif;
    font-size: 4.5em;
    color: white;
    margin-top: 175px;
}


.botao-intro {
    width: 340px;
    font-size: 1.5em;
    background: linear-gradient(0deg, #E35C0B 31.97%, #FF7826 100%);
    padding: 15px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    box-shadow: 0px 4px 4px #263C53;
    text-transform: uppercase;
    border-bottom: 3px solid #0D1F33;
    display: block;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .intro h1 {
        margin-top: 30px;
        font-size: 48px;
        padding-bottom: 30px;
    }
    .intro p {
        font-size: 1.125em;
        text-align: left;
        left: 0px;
        margin-bottom: 30px;
    }
    .item2 {
        order: 3;
        margin:0 auto;
        padding: 0 10px;
    }

    .item1 {
        order: 1;
        margin-bottom: 15px;
        padding: 0 17px;
    }
    .item3 {
        order: 2;
        margin-bottom: 15px;
        padding: 0 10px;
    }
    .mini-container {
        max-width:617px;
        padding: 0 15px;
    }
    

}

/*     SOBRE    */



.sobre-text {
    max-width: 540px;
}
.sobre-text p {
    font-size: 1.125em;
    font-family: 'montserrat', sans-serif;
    line-height: 32px;
    color: #0D1F33;
}


.titulo {
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    position: relative;
    font-family: "Merriweather", serif;
    font-size:2.25em;
    font-weight: bold;
    color: #0D1F33;
    padding-bottom: 30px;
}

.titulo div {
    width: 60px;
    height: 3px;
    background: #0D1F33;
    margin: 0 15px;
    position: relative;
    top: 32px;
}

/*     Parcerias   */

.parcerias {
    background: #0D1F33;
}
.parcerias .titulo h2 {
    color: white;
    padding-bottom: 15px;
}

.parcerias .titulo div {
    width: 60px;
    height: 3px;
    background: white;
    margin: 0 15px;
    position: relative;
    top: 32px;
}

.parcerias ul li {
    max-width: 300px;
}

/*    SERVIÇOS    */

.serviços {
    background: #EFF4F9;
}

.serviços img {
    margin: 15px auto 15px auto;
}

.serviços h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    max-width: 240px;
    text-align: left;
    margin: 0 auto;
    border-top: 3px solid #0d1f33;
    border-bottom: 3px solid #0d1f33;
    padding: 5px 0;
}


.serviços .item1 {
    flex: 0 1 380px;
    background: #E3C10B;
    border: 3px solid #0D1F33;
    min-width: 280px;
    box-shadow: 0px 6px 6px rgba(187, 204, 221, 0.4);
}

.serviços .item1 h3 {
    max-width: 260px;
}



.serviços .item3 {
    flex: 0 1 380px;
    background: #FF7826;
    border: 3px solid #0D1F33;
    min-width: 280px;
    box-shadow: 0px 6px 6px rgba(187, 204, 221, 0.4);
}
.serviços ul {
    display: block;
    max-width: 240px;
    margin: 0 auto;
    padding: 10px 0 30px 0;
}
.serviços .item1 ul {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.serviços .item3 ul {
    display: block;
    max-width: 275px;
    margin: 0 auto;

}
.serviços ul li {
    display:block;
    font-size: 1.125em;
    padding: 0 5px;
    line-height: 170%;
}

.serviços ul li::before {
    content: url('../_imagens/fi-rs-check\ 5.svg');
    padding-right: 5px;
}

.serviços .item1 p {
    margin: 0 auto;
    max-width: 240px;
    color: #E35C0B;
}

.serviços .item3 p {
    margin: 0 auto;
    max-width: 240px;
    color: #E3C10B;
    margin-top: 0;
    padding-top: 0;
}


.item2 {
    flex: 0 1 380px;
    background: #268AFF;
    border: 3px solid #0D1F33;
    font-weight: 500;
    align-self: flex-start;
    padding: 0 30px 30px 0;

    box-shadow: 0px 6px 6px rgba(187, 204, 221, 0.4);
}

.item2 h3 {
    margin: 0 auto;
    padding-right: 0;
}

.item2 ul {
    display: block;
    max-width: 275px;
    margin: 0 auto;
    padding-bottom: 10;
    margin-left: 50px;
    padding-left: 0;
}



.botao {
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 225px;
    background: #0D1F33;
    color: white;
    border-bottom: 3px solid #E35C0B;
    padding: 15px 0;
    font-family: 'Merriwheater', serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6px;
    top: 45px;
    box-shadow: 0px 8px 8px rgba(187, 204, 221, 0.6);
}


/*    HABILIDADES    */

.habilidades .container {
    flex-wrap: nowrap;
}

.mini-container {
    width: 617px;
    display: flex;
    flex-wrap: wrap;
}

.mini-item {
    flex: 1 1 260px;
    border: 3px solid #004696;
    padding: 15px 35px 30px 35px;
    margin: 0 20px 20px 0;
    box-shadow: 0px 6px 6px rgba(187, 204, 221, 0.4);
}

.hab-img {
    max-width: 100%;
    flex: 0 1 auto;
    display: flex;
}

.hab-container {
    margin: 0 auto;
}

.mini-item h3 {
    max-width: 270px;
    font-size: 1.5em;
    color:#003BB2;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.mini-item p {
    font-size: 1.125em;
    color: #0D1F33;
    max-width: 220px;
    margin: 0 auto;
    padding-bottom: 0px;
    text-align: center;
}

.mini-item h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #FF7826;
    margin: 5px auto;
} 

.mini-container:last-child h3, .mini-container:last-child p {
    max-width: 460px;
}

.hab-img {
    position: relative;
    color: #BBCCDD;
}
.hab-img a {
    color: #99AABB;
}

.uicons {
    position: relative;
    right: 0px !important;
    margin-right: 0;
    padding-right: 0;
    bottom: 0;
    align-self: flex-end;
}

@media (max-width: 900px) {
    .habilidades .container {
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    .hab-img {
        display: none;
    }

    .habilidades .titulo {
        font-size:2em ;
    }
}
@media (max-width: 600px) {

    .hab-container .mini-container {
        flex-direction: row;
        align-items:center;
        align-content:center;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 350px;

    }
    .hab-container h2 {
        font-size: 1.25em;
    }
    .mini-item {
        flex: 0 0 300px;
    }
    .titulo div {
        width: 30px;
    }
}

/*     LIVRO     */

.livro {
    background: #0D1F33;
    padding-bottom: 30px;
}

.livro .titulo {
    color: white;
}

.livro .titulo div {
    background: white;
    margin-bottom: 0;
}

.livro .container {
    justify-content: center;
    padding-bottom: 0;
}
.livro img {
    width: 165px;
    height: 235px;
    position: relative;
    margin: 5px 10px;
    z-index: 3;
}

.livro img:hover {
    transform: scale(3);
    transition: 1s; 
    margin: 0px 180px;
    z-index: 3;
}

@media (max-width: 600px) {
    .livro img:hover {
        transform: scale(2);
        margin: 120px;
    }
}


/*    CONTATO    */

.contato {
    background: #EFF4F9;
}
.contato .titulo {
    z-index: 1;
}

.contato p {
    text-align: center;
    max-width: 460px;
    margin: 0 auto;
    color: #0D1F33;
    font-size: 1.125em;
    line-height: 22px;
    margin-bottom:60px ;
}

.contato p span {
    color: #E35C0B;
    letter-spacing: 0.08em;
}

.form {
    max-width: 380px;
    margin-left: 160px;
    margin-right:70px;
}

.form label {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 1.125em;
    color: #0D1F33;
    display: block;
    padding-bottom: 5px;
}

.form input {
    width: 380px;
    height: 30px;
    border: 2px solid #99AABB;
    margin-bottom: 15px;
}

textarea {
    height: 115px;
    margin-bottom: 0px;
    width: 380px;
    resize: none;
}



input.botao-form {
    height: 60px;
    width: 225px;
    background: #0D1F33;
    color: white;
    font-family: "Merriwheater", serif;
    font-size:1.5em;
    padding: 15px 0;
    font-weight: bold;
    border-style: none;
    box-shadow: 0px 8px 8px rgba(187, 204, 221, 0.6), 0px 4px 4px rgba(187, 204, 221, 0.4);
    cursor: pointer;
    margin-top: 15px;
}

input::placeholder {
    color:#99AABB;
}

input.file {
    font-size: 14px !important;
    border: none;
}

.contato .container {
    justify-content:flex-start;
}

.ou {
    font-family: "Merriwheater", serif;
    font-size: 1.5em;
    align-self: baseline;
    color: #0d1f33;
}

.ou::after {
    content: '';
    width: 4px;
    height: 180px;
    background: #0d1f33;
    display: block;
    margin: 15px auto;
}
.ou::before {
    content: '';
    width: 4px;
    height: 180px;
    background: #0d1f33;
    display: block;
    margin: 0px auto 15px auto ;
}

.dados {
    align-self:flex-start;
    margin-left:70px;
}
.dados h4 {
    font-family:'Merriweather', serif;
    font-size: 1.125em;
    color: #0D1F33;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.dados>a {
    font-family: 'Montserrat', sans-serif;
    font-size:0.875em;
    color: #0D1F33;
    margin: 5px 0;
    text-align: left;
    display: block;
}


@media (max-width: 1100px) {
    .dados {
        margin-left: 10px;
    }
    .form {
        margin-right: 10px;
    }
}


@media (max-width: 900px) {
    .ou {
        display: none;
    }
    .dados {
        align-self: baseline;
        margin-left: 0;
    }
    .form {
        align-self: center;
        margin: 0;
    }
    footer .container p {
        margin-top: 15px;
    }
}

/*    FOOTER    */
footer {
    background: #0D1F33;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.botao:hover {
    color: #0D1F33;    
    background: linear-gradient(0deg, #E35C0B 31.97%, #FF7826 100%);
    transform: scale(1.2);
    transition: .5s;
    border: 3px solid #0D1F33;
    box-shadow: 0px 8px 8px 8px rgba(187, 204, 221, .4);
}

.botao-intro:hover {
    color: #E35C0B;
    background: #0D1F33;
    transition: .5s;
    border: 3px solid #E35C0B;
    box-shadow: 0px 4px 4px 4px rgba(13, 31, 51, 0.4);
    transform: scale(1.2);
    padding: 15px;
}

footer span {
    color: #BBCCDD;
}
footer span a {
    color: #99AABB;
}

.redes-sociais li {
    display: inline-block;
}
.redes-sociais img {
    width: 60px;
    margin-right: 20px;
}

.ref {
    margin-top: 30px;
    color: #BBCCDD;
}

.ref a {
    color: #99AABB;
}